// ==========================================================================
// Masthead Molecule
// ==========================================================================

.m-masthead {
  background: palette(grey-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond-to(medium) {
    padding-top: spacing(medium);
    display: block;
    padding: spacing(base base 0 base);
  }

  @media print {
    display: none;
  }
}
