// ==========================================================================
// Masthead Molecule
// ==========================================================================

.m-masthead {
  padding-top: spacing(small);
  background: palette(grey-dark);

  @include respond-to(medium) {
    padding-top: spacing(medium);
  }

  @media print {
    display: none;
  }
}
