<div class="callout callout--clear">
    <div class="g">
        <div class="g__cell g__cell-12 g__cell-7--large">
            <h2 class="h4">{{ include.example.title }}</h2>
            <p>{{ include.example.description }}</p>
        </div>
        <div class="g__cell g__cell-12 g__cell-5--large">
            <figure>
                <a href="{{ include.example.large_image }}" class="u-relative" data-modal="#modal-pattern-{{ include.id }}">
                    <img src="{{ include.example.thumbnail }}">
                    <span class="m-expander u-absolute u-sticky--bottom u-sticky--right">Expand</span>
                </a>
            </figure>
        </div>
    </div>
</div>