<div class="m-masthead">
    <div class="wrapper--medium">
        {% if page.url == '/' %}
            <h1 class="brand">{{ site.name | widont }}</h1>
        {% else %}
            <a href="{{ site.baseurl }}/" class="brand">{{ site.name | widont }}</a>
        {% endif %}
    </div>
    <div class="is-visible is-hidden--medium pad-left">
        <button class="burger" data-toggle=".m-nav-mobile__toggled" aria-controls="mobile-nav">
            <span class="g g--no-gutters align-v-center align-end">
                <span class="g__cell">
                    <span class="burger__text">Menu</span>
                </span>
                <span class="g__cell">
                    <span class="burger__icon"></span>
                </span>
            </span>
        </button>
    </div>
    <div class="m-masthead-nav-container">
        <div class="wrapper">
            <nav class="m-masthead-nav is-hidden is-visible--medium is-hidden is-visible--medium">
                {% for item in site.data.main_nav %}
                    <a href="{{ item.url | relative_url }}" class="m-masthead-nav__item
                    {% if page.url == item.url %}is--active{% endif %}

                    {% if item.url != '/' and page.url contains item.url  %}is--active{% endif %}">{{ item.title | improve }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="m-nav-mobile__toggled" aria-hidden="true">
            <div id="search"></div>
        </div>
    </div>
</div>
<div class="is-visible is-hidden--medium">
    <nav class="m-nav-mobile m-nav-mobile__toggled" id="mobile-nav" aria-hidden="true">
        {% for item in site.data.main_nav %}
            <a href="{{ item.url | relative_url }}" class="m-nav-mobile__item
            {% if page.url == item.url %}is--active{% endif %}

            {% if item.url != '/' and page.url contains item.url  %}is--active{% endif %}">{{ item.title | improve }}</a>
        {% endfor %}
    </nav>
</div>