{% assign categories = site.categories | sort: 'nav_order' %}

<nav class="m-accordion-nav u-hide-print" role="navigation">

{% for category in categories %}

    {% assign items = site.patterns | where: "category", category.slug | sort: 'nav_order' %}

    <a href="{{ category.url }}"
        class="m-accordion-nav__item {% if category.slug == page.category %} is--active {% endif %}"
        {% if items.size > 0 %} data-toggle="#pattern-nav-{{ forloop.index }}" aria-controls="#pattern-nav-{{ forloop.index }}" {% endif %}>
        {{ category.title }} <b class="chevron"></b></a>
    
    {% if items.size > 0 %}
    <nav class="m-accordion-nav--level2 {% if category.slug == page.category %} is--open {% endif %}" {% if category.slug != page.category %} aria-hidden="true" {% endif %} id="pattern-nav-{{ forloop.index }}">
        {% for item in items %}
            <a href="{{ item.url }}" class="m-accordion-nav__item {% if item.path == page.path %} is--active {% endif %}">{{ item.title }} <b class="chevron chevron--right"></b></a>
        {% endfor %}
    </nav>
    {% endif %}


{% endfor %}
</nav>