---
layout: application
hero:
  nav:
    position: side
---

{% include hero.html %}

<div id="site-content" class="site-content">
    <div class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
        <div class="wrapper">
            {% for section in page.sections.items %}
                {% include section-listing.html type=section.type %}
            {% endfor %}

            {% assign list_title = 'All patterns in this section' %}

            {% if page.list_title %}
                {% assign list_title = page.list_title %}
            {% endif %}

            {% if page.category %}
                {% assign items = site.patterns | where: "category", page.category | sort: 'nav_order' %}
            {% else %}
                {% assign items = site.categories | sort: 'nav_order' %}
            {% endif %}


                <div class="m-section-listing {% if modifier %}{{ modifier }}{% endif %}">
                    <div class="u-trim--all">
                        <h2 class="h4">{{ list_title }}</h2>
                    </div>

                    <div class="g pad-top-small pad-top--medium">

                            {% for item in items %}
                            <div class="g__cell
                                        g__cell-12
                                        {% if modifier != 'm-section-listing--short' and modifier != 'm-section-long-full' %}
                                            g__cell-6--medium
                                            g__cell-4--large
                                        {% endif %}">
                                <h4 class="m-section-listing__title"><a class="link" href="{{ item.url }}">{{ item.title }}</a></h4>
                                <p>{{ item.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

        </div>
    </div>
</div>
