---
layout: application
---

<section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
    <div class="wrapper">
        <div class="g">

            <div class="g__cell g__cell-12 g__cell-4--medium">
            </div>
            <div class="g__cell g__cell-12 g__cell-8--medium">
                <div class="pad-bottom-medium">
                    {% comment %} Hardcoded to get around pages vs collections issue {% endcomment %}

                    {% assign category = site.categories | where: 'category', page.category | first %}

                    <div class="m-breadcrumb">
                        <a class="m-breadcrumb__item" href="{{ site.baseurl }}/">Home</a>
                        <span class="m-breadcrumb__separator">/</span>
                        <a class="m-breadcrumb__item" href="/patterns/">Patterns</a>
                        <span class="m-breadcrumb__separator">/</span>
                        <a class="m-breadcrumb__item" href="{{ category.url }}">{{ category.title }}</a>
                        <span class="m-breadcrumb__separator">/</span>
                        <span class="m-breadcrumb__item is--active">{{ page.title }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="g">

            <div class="g__cell g__cell-12 g__cell-4--medium">
                <h3>All categories</h3>
                
                {% include pattern-nav.html %}
            </div>
            <div class="g__cell g__cell-12 g__cell-8--medium">

                <div class="u-trim--all">
                    <h1>{{ page.title }}</h1>
                </div>
                {% if page.description %}
                    {% include lede.html %}
                {% endif %}

                {% if page.problem %}
                    {% include callout.html title="Problem" html=page.problem %}
                {% endif %}

                {% if page.context %}
                    {% include callout.html title="Context" html=page.context %}
                {% endif %}

                {{ content | improve }}


                {% assign range = page.examples.size | minus:1 %}

                {% for i in (0..range) %}

                    {% assign example = page.examples[i] %}

                    {% include example.html example=example id=i %}

                {% endfor %}
                
                SECTION LISTING - RELATED PATTERNS<Br>
                {% include prevnext.html %}

            </div>
        </div>
    </div>
</section>

{% for i in (0..range) %}

    {% assign example = page.examples[i] %}

    {% include modal.html example=example id=i %}

{% endfor %}
