---
layout: application
---
<div class="is-hidden--large">
    {% include nav-tray.html title=page.title %}
</div>

<section class="pad-top-large pad-top-xlarge--large pad-bottom-large pad-bottom-xlarge--large">
    <div class="wrapper">
        <div class="g">

            <div class="g__cell g__cell-12 g__cell-4--large pad-bottom-medium is-hidden is-visible--large">
                <h3>All categories</h3>

                {% include pattern-nav.html nav_id="desktop" %}
            </div>
            <div class="g__cell g__cell-12 g__cell-8--large">

                <div class="pad-bottom-medium">

                    {% comment %} Hardcoded to get around pages vs collections issue {% endcomment %}

                    {% assign category = site.categories | where: 'category', page.category | first %}

                    <div class="m-breadcrumb">
                        <a class="m-breadcrumb__item" href="{{ site.baseurl }}/">Home</a>
                        <span class="m-breadcrumb__separator">/</span>
                        <a class="m-breadcrumb__item" href="/patterns/">Patterns</a>
                        <span class="m-breadcrumb__separator">/</span>
                        <a class="m-breadcrumb__item" href="{{ category.url }}">{{ category.title }}</a>
                        <span class="m-breadcrumb__separator">/</span>
                        <span class="m-breadcrumb__item is--active">{{ page.title }}</span>
                    </div>
                </div>

                <div class="u-trim--all">
                    <h1>{{ page.title }}</h1>
                </div>
                {% if page.description %}
                    {% include callout.html title="Problem" html=page.description %}
                {% endif %}

                {% if page.context %}
                    {% include callout.html title="Context" html=page.context %}
                {% endif %}

                {% if page.solution %}
                    {% include callout.html title="Solution" html=page.solution %}
                {% endif %}
                <div class="u-styled-lists">
                    {{ content | improve }}
                </div>
                {% assign range = page.examples.size | minus:1 %}

                {% for i in (0..range) %}

                    {% assign example = page.examples[i] %}

                    {% include example.html example=example id=i %}

                {% endfor %}

                {% comment %} Related items {% endcomment %}

                {% if page.related %}

                <div class="m-section-listing grid">
                    <div class="u-trim--all">
                        <h2 class="h4">Related patterns</h2>
                    </div>

                    <div class="g pad-top-small pad-top--large">

                        {% for item in page.related %}

                        {% assign itemPage = site.patterns | where:'slug', item | first %}

                        {% if itemPage %}
                        <div class="g__cell
                                    g__cell-12
                                    g__cell-6--large
                                    g__cell-4--large
                                    pad-bottom--small
                                    {% if page.related.size > 3 %}
                                        pad-bottom-medium--large
                                    {% endif %}">
                            <h4 class="m-section-listing__title"><a class="link" href="{{ itemPage.url | strip | relative_url }}">{{ itemPage.title | improve }}</a></h4>
                            {% if itemPage.description %}
                            <p>{{ itemPage.description | improve }}</p>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% endif %}

            </div>
        </div>

        {% include prevnext.html %}

    </div>

</section>

{% for i in (0..range) %}

    {% assign example = page.examples[i] %}

    {% include modal.html example=example id=i %}

{% endfor %}
