---
category: {{ Category }}
title: {{ Name }}
nav_order: 1
description: >-
    {{ Problem }}
context: >-
    {{ Context }}
solution: >-
    {{ Solution }}
examples:
    {% if Examples is defined -%}
    {%- for example in Examples -%}
    -
        title: {{ example.Title }}
        thumbnail: https://wheretheimageswilllive.com/{{ loop.index }}
        large_image: https://wheretheimageswilllive/{{ loop.index -}}
        {%- if example.Description -%}
        description: >-
            {{ example.Description -}}
        {% endif %}
    {% endfor -%}
    {% endif %}
---

{{ Discussion }}
