---
category: data-model
title: {{ Name }}
nav_order: 1
description: >-
    {{ Solution }}
problem: >-
    {{ Problem }}
context: >-
    {{ Context }}
examples:
    {% for example in Examples -%}
    -
        title: {{ example.Title }}
        thumbnail: https://wheretheimageswilllive.com/{{ loop.index }}
        large_image: https://wheretheimageswilllive/{{ loop.index }}
        {% if example.Description -%}
        description: >-
            {{ example.Description -}}
        {% endif %}
    {% endfor %}
---

{{ Discussion }}
