// ==========================================================================
// Brand Atom
// ==========================================================================

.brand {
  @include link() {
    display: inline-block;
    margin: 0;
    color: white;
    font-size: ms(1);
    font-weight: bold;
    line-height: 1.15;
    text-decoration: none;
    padding: spacing(18) spacing(base);

    @include respond-to(medium) {
      font-size: ms(4, $thread: desktop);
      padding: 0;
    }
  }
}
